# Every change is reviewed by the Prot team.
# Docs: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @icrc/prot-team
